.selectDefault{
    color:rgb(108, 117, 125)
}
.buttonsets{
    border: 1px solid #40a9ff;
    height: auto;
    font-weight: 700;
    padding: 0 15px;
    line-height: 40px;
    color: #655454;
    font-size: 14px;
    border-radius: 5px;
    background-color: white;
}
.middlebutton{
    background: white;
    color: black;
    font-weight: 600;
    font-size: 12px;
    height: 40px;
    padding: 0 15px;
    line-height: 40px;
    border-color: #ece5e5;
}
.leftbutton{
    background: white;
    color: black;
    box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border: 1px solid;
    font-weight: 600;
    font-size: 12px;
    height: 40px;
    padding: 0 15px;
    line-height: 40px;
    border-color: #ece5e5;
}
.middlebutton:focus{
    box-shadow: none !important;
}
.height{
    bottom: -47px !important;
    position: absolute;
    width: 100%;
}
@media screen and (max-width: 984px) {
    .height {
      position: initial  !important;
    }
  }
  .ant-card-body svg{
    width: 100% !important;
  }

  
  .form-control{
    margin-right: 15px;
  }
  form {
    width: 300px;
    margin: 0 auto;
    /* text-align: center; */
    padding-top: 50px;
  }
  
  .value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    padding: 11px 0;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .value-button:hover {
    cursor: pointer;
  }
  
  form #decrease {
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
  }
  
  form #increase {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
  }
  
  form #input-wrap {
    margin: 0px;
    padding: 0px;
  }
  
  input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

  .get-product{
    display: flex;
  }

  foreignObject{
    top:100px
  }

  .linchart{
    position: relative;
  }

/* #apexchartskr1lzw2f{
  top: 65px
} */

/* #apexchartsjmmiuu96j{
  margin:0px auto auto !important;
  top:60px !important
} */

/* .layout-dashboard{
  text-align: center !important;
} */

.apexcharts-legend-series{
  text-align: left;
}

#apexchartsnkbn9mdj{
}

.Pie1vhome{
  margin-top: 50px !important;
}
